
.fakeimg {
    height: 200px;
    background: #aaa;}
.container{font-size:15px;font-family: monospace;}
.container a{color:#f67777;}
.container p{font-size:15px;}
.container p {margin-left:-20px;}
.navbar-brand{margin-top:-20px;}
.bg-danger {background-color: #772953!important;}
.btn-group-lg>.btn, .btn-lg {
  padding: 10px 10px;
  font-size: 10px;
  line-height: 1.3333333;
  border-radius: 3px;
}
.navbar-dark .navbar-nav .nav-link {
  font-size: 15px;
  padding: 8px;
  color: rgba(255,255,255,.5);
}
.btn-info {
  color: #fff;
  background-color: #777;
  border-color: #6c757d;
  height: 38px;
  line-height: 20px;
}
.form-inline i {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}

.glyphicon {
  FONT-VARIANT: JIS04;
  position: relative;
  top: 6px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  line-height: 0px;
  font-size: 20px;
  -moz-osx-font-smoothing: grayscale;
}
.fa, .fas {
  font-weight: 520;
}
.btn-primary {
  color: #fff;
  background-color: #772953;
  border-color: #f8f9fa;
  margin-left: 500px;
}
.btn {
  padding: 8px;
  margin-bottom: 0px;
  border-radius: 4px;
}

.btn-success {
  color: #fff;
  background-color: #e95420;
  border-color: #e95420;
}
p{text-align:justify;}
.col
{
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 40px;
  padding-left: 15px;
  margin-left:5px;
}
.col a{color:#e95420;}
.col p{text-align:justify;margin-left:5px;}